@font-face {
	font-family: "avenir-bold";
	src: url("../assets/avenir-bold.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "avenir-regular";
	src: url("../assets/avenir-regular.otf") format("opentype");
	font-weight: normal;
}