@import './_fonts.scss';


//colors
$darkorange:#CF5604;
$purple:#350D36;
$white:#FFFFFF;
$orange:#E65C00;
$green:#10E32C;
$red:#FF0000;
$skiporange:#FC6A08;

//fonts
$bold: "avenir-bold";
$medium: "avenir-regular";

//sizes
$leveone:0.5rem;
$leveltwo:1rem;
$levethree:1.3rem;
$levelfour:2rem;

//percentages
$full:100%;


//flexbox
$middle: center;
$start: flex-start;
$between: space-between;
$apart: space-around;
$even: space-evenly;