@import "./fonts.scss";
@import "./mixins.scss";
@import "./partials.scss";

.data-header {
  font-size: 56px;
  color: $white;
  background-color: $skiporange;
  text-align: center;
  padding: 15px 0;
}
.data-text {
  margin: 0;
  font-size: 30px;
  font-family: $bold;
  color: $white;
  background-color: $skiporange;
  width: 100%;
  text-align: center;
}
