@import "./fonts.scss";
@import "./mixins.scss";
@import "./partials.scss";

.hero-wrap {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url("../assets/images/hero-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 1000px;
  &__header {
    margin: 200px auto 0 auto;
    text-align: center;
    width: 50%;
    font-size: 80px;
    font-family: $bold;
    color: $white;
  }
  &__body {
    margin: 65px auto;
    text-align: center;
    width: 60%;
    font-size: 55px;
    font-family: $bold;
    color: $white;
  }
  &__order {
    margin: 0 auto;
    letter-spacing: 1px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 300px;
    background-color: $skiporange;
    border: 0;
    padding: 15px 50px;
  }
}
