.mobile-banner {
  background-image: url("../assets/images/PhoneImageSection.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 1000px;
}
