
//colors
$black: #13182c;
$white: #ffffff;

//fonts


//sizes
$leveone:0.5rem;
$leveltwo:1rem;
$levethree:1.3rem;
$levelfour:2rem;

//percentages
$full:100%;


//flexbox
$middle: center;
$start: flex-start;
$between: space-between;
$apart: space-around;
$even: space-evenly;