@import './_fonts.scss';
@import './_mixins.scss';
@import './partials.scss';


.program{
    font-family:$bold;
    width:$full;
    height:550px;
    color:$white;
    background-color:$white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program-box{
    width:$full;
    display:flex;
    justify-content: $even;
    padding:1rem;
}

.program-card{
    width:13rem;
    height:18rem;
    background-color:$white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    color:$purple;
    text-align: center;
}

.program-title{
    color:$purple;
    padding:1rem;
}

.icon2{
    width:4rem;
}